[submodule "Crisp/vendor/spdlog"]
	path = Crisp/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Crisp/vendor/GLFW"]
	path = Crisp/vendor/GLFW
	url = https://github.com/biigHandsomeGuy/glfw.git
[submodule "Crisp/vendor/imgui"]
	path = Crisp/vendor/imgui
	url = https://github.com/biigHandsomeGuy/imgui.git
